.card {
    width: 100%;
    max-width: 300px;
    border: 1px solid rgb(154, 208, 255);
    border-radius: 0.8em;
    overflow: hidden;
    transition: transform 100ms ease-in-out;
}

.card:hover {
    transform: scale(.9);
}

.card__header {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__circle-container {
    position: absolute;
    top: 10%;
    width: 30%;
    background-color: #062226;
    padding: 5px 0 5px 5px;
    border-radius: 0 8px 8px 0;
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card__circle {
    width: 10px;
    aspect-ratio: 1;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}

.Alive {
    background-color: lightgreen;
}

.Dead {
    background-color: red;
}

.card__body {
    padding: 15px;
    background-color: #062226;
    color: white;
    padding-bottom: 20px;
}

.card__name {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.7em;
}

.card__list {
    display: grid;
    gap: .3rem;
}

.card__item-label {
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    opacity: 70%;
    font-weight: 600;
    margin-bottom: 0.1rem;
    position: relative;
    left: 0.8em;
}